.box {
    width: 300px;
    height: 300px;
    background-color: red;
    border: 5px solid black;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 48px;
    color: lightgray;
}